{% extends 'base.html' %}
{% load static %}
{% block title %}Premium | Whatsaf{% endblock %}
{% block body %}
<br><br>
<center>
    <div class="container">
        <div class="message-box">
            <h1>Premium Plans are currently under development!!</h1>
            <p class="message">We regret any inconvenience caused by this limitation. <strong>Whatsaf Team</strong> is working 24/7 in order to provide Premium Plan services as soon as possible. We will notify you when the Premium Plans are available. Hold on tight!!</p>
        </div>
    </div>
</center>
<br><br>
<style>

.message-box {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 700px;
    max-width: 100%;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

.message {
    color: #888;
    font-style: italic;
}

</style>

{% endblock %}