{% extends 'base.html' %}
{% load static %}
{% block title %}Verify | Whatsaf{% endblock %}
{% block body %}

<style>
  .signup-container {
      background-color: #fef9f9;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      width: 400px;
      max-width: 100%;
      padding: 20px;
      box-sizing: border-box;
  }

  .signup-container h2 {
      text-align: center;
      color: #333;
  }

  .signup-form {
      display: flex;
      flex-direction: column;
  }

  .form-group {
      margin-bottom: 20px;
  }

  .form-group label {
      font-size: 14px;
      color: #666;
      margin-bottom: 8px;
      display: block;
  }
  .form-group select,
  .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      font-size: 16px;
  }
  .form-group button {
      background-color: #1ecd97;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      width: 150px
  }

  .form-group button:hover {
      background-color: #1ecd97;
  }
  .checkbox-group {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .checkbox-group label {
      margin-right: 10px;
  }
</style>
<br><br>
<center>
<div class="signup-container">
  <h2 style="color: #1ecd97;">Verify Yourself</h2>
  <form class="signup-form" action="/verify" method="post">
  <div class="form-group">
    <label for="email">Email OTP</label>
    <input type="number" name="eotp" required placeholder="******">
</div>
      <div class="form-group">
          <label for="password">WhatsApp OTP</label>
          <input type="number" id="password" name="potp" required placeholder="******">
      </div>

      <div class="form-group">
          <button type="submit">Verify</button>
      </div>
      <p>Didn't Recieve OTP?? <a href="/resend-otp">Resend Now!!</a></p>
      {% csrf_token %}
  </form>
</div>
<br><br>

{% endblock %}