{% extends 'WhatsafBlogs/base.html' %}
{% load static %}
{% block title %}{{search_text}} | Whatsaf Blogs{% endblock %}

    {% block body %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Search Results</h4>
                <h2>{{search_text}}</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="blog-posts grid-system">
      <div class="container">
        <form class="d-flex" method="get" action="/blogs/search">
          <input class="form-control me-2" type="search" name="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <br>
        <h3 style="text-align: center;">{{searchcount}} search results found for <strong>{{search_text}}</strong></h3>
        <br>
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for search in searchdata|slice:"::-1" %}
                <!-- Blog desc starts here -->
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img style="height: 400px;" src="{{search.BlogImage}}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{search.BlogCategory}}</span>
                      <a href="/blogs/read-blog/{{search.BlogSlug}}"><h4>{{search.BlogName}}</h4></a>
                      <ul class="post-info">
                        <li><a >{{search.BlogAuthor}}</a></li>
                        <li><a >{{search.BlogDateAdded}}</a></li>
                        <li><a >{{search.Likes.count}} Likes</a></li>
                      </ul>
                      <p>{{search.BlogDescription}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-lg-12">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a>{{search.BlogCategory}}</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Blog desc ends here -->
                {% endfor %}


                <div class="col-lg-12">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
          <div class="col-lg-12">
            <div class="sidebar-item recent-posts">
              <div class="sidebar-heading">
                <h2>Recent Posts</h2>
              </div>
              <div class="content">
                <ul>
                  {% for recentblog in blogs %}
                  <li><a href="/blogs/read-blog/{{recentblog.BlogSlug}}">
                    <h5>{{recentblog.BlogName}}</h5>
                    <span>{{recentblog.BlogDateAdded}}</span>
                  </a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
    </section>
    {% endblock %}